Dear Sir/Madam
<p>
  Your Friend Name <%=@username.login%> Has Sent You The Request For Join The Network.
  Please Click The Following Link To Join The Network
  <a href="http://<%=@my_host_with_port%>/join_the_network/<%=@username.id%>?friendemail=<%=@femail%>">join_the_network</a>
</p>
