   <div id="middle_div"> 
          <div style="float:left;height: 130px;width: 500px;">
                <%for errormsg in current_user.errors.full_messages%>
                  <div >
                    <%=errormsg%>
                   </div> 
                 <%end%>
          </div>
     <div style="padding-left:50%;padding-top:50px;">  
       <% form_for :user, @user, :url => "/users/update_password", :html => { :multipart => true } do |f| %>
           <label for="name" class="form_label">Password</label>
            <br/>
            <%= f.password_field 'password' ,:class=>"form_input"%>
             <br/>
             <label for="name" class="form_label">Confirm Password</label>
             <br/>
            <%= f.password_field :password_confirmation ,:class=>"form_input"%>
           <br/>
           <button id="contactsubmit" type="submit">Submit</button>  
       <%end%>
     </div>
   </div>
