
  <div id="middle_div"> 
          <div id="middle_div_profile">
          <label class="prayer_label">my profile</label>
          </div>
          <div id="middle_div_profile_content">
          <label class="prayer_labelp">my Image</label>
          </div>
          <div id="middle_div_profile_image" >
          <label class="prayer_labelp">
              <%#= image_tag current_user.avatar.url(:thumb) %>
               <%if current_user.binary_data.blank?%>
                   <img src="/images/blank.jpeg"></img> 
                <%else%>   
               <%= image_tag("/users/code_image/#{current_user.id}", :alt => "Image",:size=>"100x100") %>
               <% end %>
              </label>
          </div>
<div id="middle_div_profile_content">
          <label class="prayer_labelp">my Email</label>
          </div>
          <div id="middle_div_profile_image" >
          <label class="prayer_labelp"><%= current_user.email %></label>
          </div>
<div id="middle_div_profile_content">
          <label class="prayer_labelp">my Login </label>
          </div>
          <div id="middle_div_profile_image" >
          <label class="prayer_labelp"> <%= current_user.login %></label>
<div id="edit_button">
<%=link_to "Edit Image",:controller=>"users",:action=>"edit_image"%>
<a href="/users/change_password">Change Password</a>

</div>
          </div>
          

  </div>         
   

              
              
    </div>


