
  <div id="middle_div"> 
             <div id="form_div" style="padding-left:35%"> 
                  <h1><%=@user.login%> Profile</h1>
           
      <label for="name" class="form_label">Profile Image:-    
      <%#= image_tag @user.avatar.url(:thumb) %>
        <%if @user.binary_data.blank?%>
            <img src="/images/blank.jpeg"></img>   
        <%else%>    
       <%= image_tag("/users/code_image/#{@user.id}", :alt => "Image",:size=>"50x50") %>
          <%end%>
      </label>
        <br/>
      <label for="name" class="form_label">Profile Name:-    <%= @user.login %></label>
<br/>
      <label for="name" class="form_label">Profile Email:-    <%= @user.email %></label>
<br/>
          </div>         
  </div> 




