<%= form_for(@reject_friend) do |f| %>
  <% if @reject_friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reject_friend.errors.count, "error") %> prohibited this reject_friend from being saved:</h2>

      <ul>
      <% @reject_friend.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
